<div class="d-flex flex-column justify-items-center">
  <h1 *ngIf="recipe" class="align-self-center m-2">{{ recipe.title }}</h1>
  <img *ngIf="recipe" [src]="recipe.image" alt="" />
</div>

<form
  *ngIf="loggedIn"
  class="row row-cols-lg-auto g-3 mt-3 mb-3"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <div class="col-12">
    <button class="btn btn-dark mr-2" [disabled]="!form.valid">
      Add to list
    </button>
  </div>

  <div class="col-12">
    <select class="form-select form-select-lg" formControlName="customlist_id">
      <option *ngFor="let list of lists" [value]="list.id">
        {{ list.list_name }}
      </option>
    </select>
  </div>
</form>

<h2 class="mt-5 mb-3">Ingredients</h2>
<ul class="mb-5">
  <ng-container *ngFor="let ingred of recipe.extendedIngredients">
    <li>{{ ingred.original }}</li>
  </ng-container>
</ul>
<h2 class="mb-3">Instructions</h2>
<div class="mb-5" *ngIf="recipe" [innerHtml]="recipe.instructions"></div>
