<h1>Create new list</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <input
      *ngIf="user"
      type="hidden"
      formControlName="user_id"
      [ngModel]="user.id"
    />
    <label for="list_name">List name:</label>
    <input type="text" formControlName="list_name" class="form-control" />
    <div
      class="alert alert-danger"
      *ngIf="f['list_name'].errors && f['list_name'].errors['required']"
    >
      Name is required.
    </div>
    <button class="btn btn-lg btn-primary btn-block" [disabled]="!form.valid">
      Create
    </button>
  </div>
</form>
