<div class="container">
  <a routerLink="/lists" class="btn btn-primary">Back</a>
  <h1 *ngFor="let list of lists">{{ list.list_name }}</h1>

  <table class="table">
    <tr>
      <th>Recipe</th>
      <th width="220px">Action</th>
      <th></th>
    </tr>

    <tr *ngFor="let recipe of recipes">
      <td>
        <a [routerLink]="['/recipe-details', recipe.id]"
          ><img class="img-thumbnail" [src]="recipe.image" alt=""
        /></a>
      </td>
      <td>
        <a [routerLink]="['/recipe-details', recipe.id]">{{ recipe.title }}</a>
      </td>
      <!--       <td>
        <a
          href="#"
          [routerLink]="['/post/', post.id, 'view']"
          class="btn btn-info"
          >View</a
        >
        <a
          href="#"
          [routerLink]="['/post/', post.id, 'edit']"
          class="btn btn-primary"
          >Edit</a
        >
        <button
          type="button"
          (click)="deletePost(post.id)"
          class="btn btn-danger"
        >
          Delete
        </button>
      </td> -->
    </tr>
  </table>
</div>
