<div class="container">
  <a routerLink="/lists" class="btn btn-primary">Back</a>
  <h1 *ngFor="let list of lists">{{ list.list_name }}</h1>

  <table class="table">
    <tr>
      <th>Recipe</th>
      <th></th>
      <th width="220px">Action</th>
    </tr>

    <tbody *ngIf="recipes.length">
      <ng-container *ngFor="let recipe of recipes; let i = index">
        <tr>
          <td>
            <a [routerLink]="['/recipe-details', recipe.id]"
              ><img class="img-thumbnail" [src]="recipe.image" alt=""
            /></a>
          </td>

          <td>
            <a [routerLink]="['/recipe-details', recipe.id]">{{
              recipe.title
            }}</a>
          </td>
          <div *ngIf="entry">
            <td>
              <button
                type="button"
                (click)="deleteRecipe(entry[i])"
                class="btn btn-danger"
              >
                Delete
              </button>
            </td>
          </div>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
