<div class="d-flex justify-content-around mt-3 mb-5">
  <h1 *ngFor="let list of lists">{{ list.list_name }}</h1>
  <button class="btn btn-dark" routerLink="/lists">Back</button>
</div>

<section>
  <div *ngIf="recipes.length">
    <ng-container *ngFor="let recipe of recipes; let i = index">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <a [routerLink]="['/recipe-details', recipe.id]">
              <img
                [src]="recipe.image"
                class="img-fluid rounded-start"
                alt="recipe image"
            /></a>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <a
                class="link-dark text-decoration-none"
                [routerLink]="['/recipe-details', recipe.id]"
              >
                <h2 class="card-title h3">{{ recipe.title }}</h2>
              </a>
              <button
                class="btn btn-sm btn-danger"
                (click)="deleteRecipe(entry[i])"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>
